*{
    margin: 0;
}
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  
  .div{
    padding: 30px;
    justify-content: space-between;
    
    display: flex;
    font-family: sans-serif;
    .div1{
        
        display: flex;
        button{
            padding:10px 20px;
            border: 1px solid white;
            height: 60px;
            background-color:black;
            color: white;
            font-family: sans-serif;
            font-size: 18px;
            border-radius: 20px;
            margin-right: 40px;
        }
    }
  }
  .from1{
    padding: 0px;
    margin-left: 30px;
    width: 0px;
    fieldset{
        padding: 10px;
        height: 53px;
        legend{
            margin-left: 20px;
        }
        width: 200px;
     padding: 0px;
    }
    .select{
        height:60%;
       width: 100%;
       border: 1px solid white;
       outline: white;
       option{
        border: none;
       }
    }
  }  
 .from2{

    @extend .from1;
    fieldset{
    padding: 5px;
    height: 43px;

    }
    margin-left: 20px;
 }
.div3{
    margin-top: 0px;
display: flex;
padding: 0px;

}
.select1{
    @extend .select;
}
.select2{
    @extend .select;
}
table{
    width: 100%;
   font-family: sans-serif;
   border-collapse: collapse;
   margin-top: 50px;
   background-color: rgba(128, 128, 128, 0.1);
   th{
    padding: 10px;
    font-size: 23px;
    font-weight: 600;
    border-bottom: 2px solid gray;
    width: 350px;
   }
   td{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid gray;
    font-size: 22px;
   }
}
.div5{
    display: flex;
}
.div6{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.div7{
 margin-top: 5px;
 margin-left: 40px;
}
.td1{
    font-size: 30px;

    text-align: center;
}
.status1{
    
color: lime;
}
.status2{
    
    color: red;
    }
    .addModal{
        position: relative;
        left: px;
        margin: auto;
    }
    .inpName{
        width: 90%;
        padding: 10px;
        margin: 10px;
    }
    .inpEmail{
        @extend .inpName;
    }
    .btnAdd{

        padding: 10px 120px;
        margin-top: 20px;
        display: block;
        background-color: blue;
        color: white;
        border: none;
        margin: auto;
    }
    .s{
        @extend .inpName
    }
    .s1{
        @extend .inpName
    }
    .s2{
        @extend .inpName
    }
    .s3{
        @extend .inpName
    }
    .buttonEdit{
        display: block;
        padding: 10px 20px;
        border: none;
        background-color: white;
    }
    .buttonVievprofil{
        @extend .buttonEdit;
        border: none;
    }
    .buttonDelete{
        color: red;
        @extend .buttonEdit
    }
    .addModal1{
        position: relative;
        left: 1055px;
        margin: auto;
        border: 1px solid black;
        border-radius: 10px;
        top: 500px;
    }
    .addModal2{
        padding: 40px;
        font-family: sans-serif;
        text-align: center;
        border: 1px solid black;
        position: relative;
        left: 1130px;
        background-color: rgba(255, 255, 255, 0.675);
        border-top-left-radius:20px ;
        .f{
            display: flex;
            justify-content: space-between;
        }
        img{
            width: 400px;
            border-radius: 100%;
        }
    }
    .btnAdd1{

        padding: 10px 120px;
        margin-top: 20px;
        display: block;
        background-color: blue;
        color: white;
        border: none;
        margin: auto;
    }
    .s4{
        @extend .inpName
    }
    .s5{
        @extend .inpName
    }
    .s6{
        @extend .inpName
    }
    .s7{
        @extend .inpName
    }.inpName1{
        width: 90%;
        padding: 10px;
        margin: 10px;
    }
    .inpEmail1{
        @extend .inpName;
    }
    .addModal3{
        margin: auto;
    }
    .tdrre{
        display: flex;
        width:90%;
        position: relative;
        font-size: 30px;
        height: 44px;
        top: 16px;
        margin-left: 30xp;
        button{
            margin-left: 0px;
            border: none;
            margin-right: 10px;
            position: relative;
            font-size: 22px;
            background: rgba(255, 255, 255, 0);
        }
    }
    .di1{
        text-align: center;

    }
    /* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
    margin-left: 20px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }
  .form3{
    position: absolute;
    top: 100px;
    left: 1200px;
    width:20% ;
    border: none;
    fieldset{
        border-radius:10px ;
        margin-top: 20px;
        margin-left: 20px;
    }
    input{
        background-color: rgba(255, 255, 255, 0.071);
        border: none;
        outline: none;
        display: block;
    }
  }
  .sort{
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: lime;
  }